<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/home-style.css" />
  </head>
  <body>
    <div id="header">
      <ul id="nav">
        <li><a href="/" class="active">Trang Chủ</a></li>
        <li><a href="/nhankhau">Nhân Khẩu</a></li>
        <li><a href="/familyList">Hộ Khẩu</a></li>
        <li>
          <a href="/papers/giay_tam_tru">Khai Báo</a>
          <ul class="subnav">
            <li><a href="/papers/giay_tam_tru">Tạm Trú</a></li>
            <li><a href="/papers/giay_tam_vang">Tạm Vắng</a></li>
          </ul>
        </li>
        <li><a href="/fees">Khoản Phí</a></li>
        <li>
          <a href="/thongke">Thống Kê</a>
          <ul class="subnav">
            <li><a href="/thongke">Giới tính</a></li>
            <li><a href="/thongke/ages">Độ tuổi</a></li>
            <li><a href="/thongke/foreigners">Tạm trú/ Tạm vắng</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div style="margin-top: 60px" class="wrap-content">
      <div class="content">
        <div class="content-title">SỔ HỘ KHẨU ĐIỆN TỬ</div>
        <div class="content-design">
          <div class="content-design-title">CÁC TÍNH NĂNG</div>
          <div class="content-design-button">
            <button>Nhân Khẩu</button>
            <button>Khai Báo Tạm Trú - Tạm Vắng</button>
            <button>Hộ Khẩu</button>
            <button>Các Khoản Phí</button>
            <button>Thống Kê</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
